@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&display=swap");
.div_wrapper {
    font-family: "Playfair Display", cursive;
    border: 1px solid black;
    padding: 10px;
    box-shadow: 0px 0px 10px;
    border-radius: 8px;
}
.max_widht_small{
    width: 100%;
    max-width: 800px;
    margin: auto;
}
.PaginationBtn{
    width: 100%;
    max-width: 100px;
}